*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.app {
    display: block;
    background-color: pink;
    margin: auto;
}

.list-img {
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 300px;
    height: 360px;

}

.item-img {
    display: flex;
    justify-content: center;
}

.item {
    display: block;
    margin: auto;
    width: 100%;
}

.btn-click {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.click {
    margin: 0 8px;
    padding: 6px 12px;
    border-radius: 2px;
}

.click:hover {
    background-color: #ccc;
    cursor: pointer;
}

.heart {
    color: red;
}
