*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.app {
    display: block;
    background-color: pink;
    margin: auto;
}

.list-img {
    display: block;
    margin: auto;
    width: 360px;

}

.item-img {
    display: flex;
    justify-content: center;
}

.item {
    display: block;
    margin: auto;
    width: 100%;
}

#btn-click {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.click {
    margin: 0 8px;
    padding: 6px 12px;
    border-radius: 2px;
    display: block;
    align-self: center;
    width: 50%;
}

.click:hover {
    background-color: #ccc;
    cursor: pointer;
}

.text {
    font-size: 24px;
    margin: 12px 0;
    text-align: center;
}

/* PC */
@media screen and (min-width: 1024px){
    .list-img {
        width: 360px;
    }
    .click {
        width: 10%;
    }
}

/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1024px) {
    .click {
        width: 10%;
    }
}

/* mobile */
@media screen and (min-width: 240px) and (max-width: 720px) {
    .list-img {
        width: 100%;
    }
}
